.containerHeader {
  position: fixed;
  max-width: 70rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(121, 200, 123, 0.134);
  backdrop-filter: blur(6px);
  border-radius: 8px;
  z-index: 1;

  transition: 0.5s ease;

  padding: 0.5rem 1.5rem;

  a {
    cursor: pointer;
  }
}
